.writer__text,
.writer__cursor {
    color: #eee;
    font-size: 3rem;
}

.writer__cursor {
    animation: shrink-grow 0.5s ease-out infinite alternate;
    display: inline-block;
}

@keyframes shrink-grow {
    from {
        transform: scaleY(1);
    }
    to {
        transform: scaleY(0.1);
    }
}
